apiVersion: apps/v1
kind: Deployment
metadata:
  name: diplom-webapp
  namespace: netology-diplom-namespace
  labels:
    app: web-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      containers:
      - name: diplom-test-site
        image: sk3pt1k/netology-diplom-repository:v0.0.1
        resources:
          requests:
            cpu: "0.1"
            memory: "200Mi"
          limits:
            cpu: "1"
            memory: "400Mi"
        ports:
        - containerPort: 80
